.bagde {
    background-color: rgb(229, 229, 229);
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}

.bagde-danger {
    background-color: red;
    color: white;
}

.bagde-success {
    background-color: green;
    color: white;
}

.bagde-warning {
    background-color: yellow;
    color: black;
}

