<p>Dear <strong style="color: rgb(199, 37, 78); background-color: rgb(249, 242, 244);">[STUDENT_NAME]</strong><strong>,</strong> I am delighted to inform you that you have been offered a vacancy in <strong style="color: rgb(199, 37, 78); background-color: rgb(249, 242, 244);">[STUDENT_CLASS]</strong>    at <strong style="color: rgb(199, 37, 78); background-color: rgb(249, 242, 244);">[SCHOOL_NAME]</strong><strong>.</strong></p>
<p><br></p>
<p>You are expected to report at School on&nbsp;<strong>12th Dec, 2022</strong>&nbsp;and come along with this admission letter.</p>
<p><br></p>
<p><span style="background-color: rgb(249, 242, 244); color: rgb(199, 37, 78);">[REQUIREMENTS_TABLE]</span></p>
<p class="ql-align-justify">NB: All cash payments must be made in the Bank or using your school pay number&nbsp;<strong style="background-color: rgb(249, 242, 244); color: rgb(199, 37, 78);">[STUDENT_SCHOOL_PAY_CODE]</strong>. Pick slips from the inquiries in the bank.</p>
<p class="ql-align-justify"><br></p>
<p class="ql-align-justify">You will also be required to come with following&nbsp;physical items;-</p>
<ol>
    <li class="ql-align-justify">Uniform All Uniforms will be given out from school and are compulsory</li>
    <li class="ql-align-justify">Red tie 10,000/= (b)One School T-shirt 27,000/=</li>
    <li class="ql-align-justify">One ream of photocopying paper Ad size, (A ream of paper is Payable once every year)</li>
</ol>
<p><br></p>
<p class="ql-align-justify">You will be expect you to abide by the <strong>school rules &amp; regulations</strong>. A copy of these rules and regulations is attached.</p>
<p><br></p>
<p class="ql-align-justify">The school has highly qualified, experienced and very well sorted teachers, most of whom are University graduates. We promised excellence. <strong>We wish you Success and great </strong><strong style="background-color: rgb(249, 242, 244); color: rgb(199, 37, 78);">[SCHOOL_NAME]</strong>.</p>
<p><br></p>
<p><br></p>
<p>Yours,</p>
<p>..................</p>
<p>HEADTEACHER.</p>